{{ define "registration" }}

{{ template "header" . }}

<script type="text/javascript"> 
    newPageTitle = 'Forum | Register';
    document.title = newPageTitle;
</script>

{{ if .WarningMessage}}
<p class="warning-msg">Please try again. You chose a wrong nickname [letters, numbers, from special symbols _ allowed]</p>
{{ end }}

{{ if .PassCheckMsg}}
<p class="warning-msg">Please try again. Password reqs not met [Min-6, Max-25; At least 1 Upper-case, 1 lower-case, 1 digit, 1 punctuation symbol]</p>
{{ end }}

{{ if .UserExists }}
<p class="warning-msg">User or email already exists</p>
{{ end }}

{{ if not .IsLoggedIn }}
<div class="register-form">
    <form action="/register_user" method="post">
        <input type="text" name="username" id="username" minlength="6" maxlength="25" required placeholder="Username">
        <br>
        <input type="password" name="password" id="password" minlength="6" maxlength="25" required placeholder="Password">
        <br>
        <input type="email" name="email" id="email" minlength="8" maxlength="30" required placeholder="Email">
        <br>
        <button class="website-button" type="submit">Submit</button>
    </form>
</div>
{{ else }}
<p class="warning-msg">Already logged in</p>
{{ end }}

{{ template "footer" }}

{{ end }}