{{ define "show_threads" }}

{{ template "header" . }}

<script type="text/javascript"> 
    newPageTitle = 'Forum | '+ '{{.MainThreadName}}';
    document.title = newPageTitle;
</script>

{{ if .IsLoggedIn }}
<form action="/thread/create" method="get">
    <button class="website-button-inside" type="submit">Start new topic</button>
</form> 
{{ else }}
<p style="color: red">Please login</p>
{{ end }}
{{ range .Topics }}
    <div class="show-all-threads">
        <div class="thread-form-container">
            <div class="thr-name">
    <a id="threadname-sub" href="/thread/{{ .Id }}"><h1 class="threads-title">{{.Title}}</h1></a>
</div>
{{ if $.Admin }}
<div class="admin">
    <a href="/thread/{{ .Id }}/edit"><p style="color:red; font-size: 13px;">Edit topic</p></a>
    <form action="/thread/{{ .Id }}/del" method="post"><input type="hidden" name="thread-id" value="{{.Id}}"><p onclick="this.parentNode.submit();" style="cursor: pointer; font-size: 13px; color: red;">Delete</p></form>
</div>
{{ end }}
    <div class="count-posts">
        <p><b>Total Posts: {{.NumReplies}}</b></p>
    </div>
    <div class="last-posts">
        <p><b>Last post by:<a style="color: rgb(66, 206, 15);" href="/acc/profile/{{.LastPostAuthorId}}"> {{.LastPostAuthor}}</a> at {{.LastPostTime}}</b></p>
    </div>
</div>
</div>
{{ end }}

{{ template "footer" }}

{{ end }}